* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--LightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  margin: auto;

}

/* Card */
main {
  background: var(--White);
  max-width: 300px;
  width: 80%;
  padding: 1.5em;
  border-radius: 10px;
  margin: 2em auto;
}

/* Image */
.image img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
}

.content {
  margin-top: 2em;
  padding: 0 2em;
}

.content h1,
.content p {
  margin: .75em 0;
  line-height: 1.5;
}

.content h1 {
  color: var(--DarkBlue);
  font-size: 2rem;
  font-weight: 700;
}

.content p {
  color: var(--GrayishBlue);
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}
